<template>
  <button>Button</button>
</template>

<script lang="ts">
import {Options, Vue} from 'vue-class-component';

@Options({})
export default class MyButton extends Vue {
}
</script>

<style scoped="scoped">
button {
  border: 1px solid #42b983;
  border-radius: 2px;
  padding: 1rem;
  background: #42b983;
  color: #fff;
}
</style>
