<template>
  <input type="text">
</template>

<script lang="ts">
import {Options, Vue} from 'vue-class-component';

@Options({})
export default class MyInput extends Vue {
}
</script>

<style scoped="scoped">
input {
  padding: 1rem;
  border: 1px solid #42b983;
  border-radius: 2px;
}
</style>
